@use 'base/variables' as v;
@use 'base/mixins' as m;


.nav-principal {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 2rem;

    @include m.tablet {
        flex-direction: row;
        margin-top: 0rem;
    }
    a {
        text-align: center;
        color: v.$blanco;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
        &:hover{ 
            color: v.$secundario; 
        }
    }
    @include m.tablet {
        margin-bottom: 0;
    }

}