@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: v.$separacion 0;
    align-items: center;

    @include m.tablet {
        flex-direction: row;
    }

    &__logo {
        width: 30rem;
        margin-bottom: 5rem;

        @include m.desktop { 
            margin-bottom: 0;
        }
    }

}